body div.container-fluid {
    margin-left: 0;
    margin-right: 0;

    font-family: 'Raleway', sans-serif;
}

body {
    background-color: var(--white);

    --border-radius-amount: 20px;

    --primary: #761883;
    --white: #EEEEEE;
    --dark-white: #D2D2D2;
}

.navbar {
    border-radius: var(--border-radius-amount);
    padding: 15px 25px;

    background-color: var(--primary);
    background-image: url("Images/BackgroundImg.jpg");
}

.main-background-img {
    background-color: var(--dark-white);

    background-image: url("Images/BackgroundImg.jpg");
    border-radius: var(--border-radius-amount);
    padding: 15px;

    margin-top: 25px;
    margin-bottom: 25px;

    color: var(--white);
}

.heading-text {
    font-weight: 100;
}

.container-sm {
    margin-top: 50px;

    background-color: var(--dark-white);
    border-radius: var(--border-radius-amount);

    padding: 30px;
}

a {
    color: var(--primary);
    text-decoration: none;
}
a:hover {
    text-decoration: underline solid var(--primary);
    color: var(--primary);
}

.navbar a:hover {
    text-decoration: none;
}

.center {
    text-align: center;
}

footer {
    background-color: var(--dark-white);

    background-image: url("Images/BackgroundImg.jpg");
    border-radius: var(--border-radius-amount);
    padding: 25vh 15px;

    margin-top: 25px;
    margin-bottom: 25px;

    color: var(--white);
}